body {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;

  background-color: #fcf9d3a8;
}

.container {
  width: 472px;
  height: 605px;

  display: flex;
  flex-direction: column;

  background: #333533;
  box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 0.25);
}

.calculator-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 35px;

  height: 100%;
}

.result-box {
  width: 100%;
  height: 114px;

  background: #ffd100;
}

#result {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  color: #202020;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#num1,
#num2 {
  width: 25%;
  height: 10%;
  text-align: center;

  border-radius: 17px;
  background: #d6d6d6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.operators {
  color: #fff;
}

#button {
  width: 50%;
  height: 8%;

  border-radius: 17px;
  background: #ffd100;
}
